<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3 mt-4">
                
                
            
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img class="rounded-circle" height="200px" src="https://images.unsplash.com/photo-1597223557154-721c1cecc4b0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aHVtYW4lMjBmYWNlfGVufDB8fDB8fA%3D%3D&w=1000&q=80" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Anu</h5>
                          <p class="card-text">ID:7619</p> 
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img class="rounded-circle" height="200px" src="https://www.faceapp.com/static/img/content/compare/beard-example-before@3x.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dilshad</h5>
                          <p class="card-text">ID:9619</p> 
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img class="rounded-circle" height="200px" src="https://static.generated.photos/vue-static/face-generator/landing/wall/20.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Vishnu T</h5>
                          <p class="card-text">ID:4619</p>   
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img class="rounded-circle" height="200px" src="https://static.generated.photos/vue-static/face-generator/landing/wall/12.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Arundhathi</h5>
                          <p class="card-text">ID:4219</p> 
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img class="rounded-circle" height="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHae3WiJ4jqag40ALfllxrfDMsY43N_LPUgoyslDjwniVtHdOXKFzTbgBBGVQDTU2QHmU&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Sruthi</h5>
                          <p class="card-text">ID:4699</p> 
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img class="rounded-circle" height="200px" src="https://media.glamour.com/photos/5a425fd3b6bcee68da9f86f8/master/pass/best-face-oil.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Arathi</h5>
                          <p class="card-text">ID:4019</p> 
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img class="rounded-circle" height="200px" src="https://expertphotography.b-cdn.net/wp-content/uploads/2019/04/female-face-girl-posing-outdoors-in-natural-light.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Sanju</h5>
                          <p class="card-text">ID:5619</p> 
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img class="rounded-circle" height="200px" src="https://wallpapercave.com/wp/wp9936470.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Sanu</h5>
                          <p class="card-text">ID:1619</p> 
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img class="rounded-circle" height="200px" src="https://i.pinimg.com/originals/97/e4/2a/97e42a82fc7911961d3ca55f54d1372c.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">manu</h5>
                          <p class="card-text">ID:0619</p> 
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img class="rounded-circle" height="200px" src="https://i.pinimg.com/736x/78/6c/d9/786cd94716ebb6509607691e99b0ce94.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">sudhi</h5>
                          <p class="card-text">ID:8619</p> 
                        </div>
                      </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

